<!-- NavMenu.razor -->
<div class="top-row ps-3 navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <i class="bi bi-archive-fill me-2"></i>Архив заданий
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <!-- Основной раздел -->
        <div class="nav-item px-3">
            <div class="nav-category small text-muted text-uppercase fw-bold mt-2 mb-1">Основное</div>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door me-2" aria-hidden="true"></span>Главная
            </NavLink>
            <NavLink class="nav-link" href="tasks">
                <span class="bi bi-search me-2" aria-hidden="true"></span>Поиск заданий
            </NavLink>
            <NavLink class="nav-link" href="task/create">
                <span class="bi bi-plus me-2" aria-hidden="true"></span>Создать задание
            </NavLink>
        </div>

        <!-- Административный раздел -->
        <div class="nav-item px-3 mt-3">
            <div class="nav-category small text-muted text-uppercase fw-bold mt-2 mb-1">Администрирование</div>
                <NavLink class="nav-link" href="admin/academic-years">
                    <span class="bi bi-calendar3 me-2" aria-hidden="true"></span>Учебные годы
                </NavLink>
                <NavLink class="nav-link" href="admin/subjects">
                    <span class="bi bi-journal-bookmark me-2" aria-hidden="true"></span>Учебные дисциплины
                </NavLink>
                <NavLink class="nav-link" href="admin/task-types">
                    <span class="bi bi-list-check me-2" aria-hidden="true"></span>Типы заданий
                </NavLink>
                <NavLink class="nav-link" href="admin/tags">
                    <span class="bi bi-tag me-2" aria-hidden="true"></span>Теги
                </NavLink>
                <NavLink class="nav-link" href="admin/authors">
                    <span class="bi bi-person-badge me-2" aria-hidden="true"></span>Авторы заданий
                </NavLink>
                <NavLink class="nav-link" href="admin/roles">
                    <span class="bi bi-shield-check me-2" aria-hidden="true"></span>Роли пользователей
                </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}